#a{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    
}

#b{
    color: blue;
}

#c{
    color: orange;
}

body{
    background-image: url("pexels-pixabay-46216\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    
}